<!DOCTYPE html>
<html>
    <head>
        <link href="https://themeswitcher.csh.rit.edu/api/get" rel="stylesheet">
        <meta content="initial-scale=1, width=device-width" name="viewport">
        <script crossorigin="anonymous" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script crossorigin="anonymous" defer integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <title>CSH Minio</title>
    </head>
    <body>
        <nav class="bg-primary navbar navbar-dark navbar-expand-lg sticky-top">
            <div class="container">
                <a class="navbar-brand" href="/">Minio</a>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav">
                        <li>
                            <a class="nav-link" data-target="#create-modal" data-toggle="modal" href="#">Create</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="card bg-danger mt-4 text-white">
                <div class="card-header"><h4>{{messages[0]}}</h4></div>
            </div>
            {% endif %}
            {% endwith %}
            {% for instance in instances|batch(4) %}
            <div class="row">
                {% for name, port in instances.items() %}
                <div class="col-12 col-lg-3 col-md-6 col-sm-6 my-3">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text"><a href="{{server_name}}:{{port}}">{{name}}</a></p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        <div class="modal" id="create-modal">
            <div class="modal-dialog">
                <form action="create" class="modal-content" method="POST">
                    <div class="modal-header">
                        <h5 class="modal-title">Create</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="name">Name: </label>
                            <input class="form-control" name="name" required type="text">
                        </div>
                        <div class="form-group">
                            <label for="s3_access_key">S3 Access Key: </label>
                            <input class="form-control" name="s3_access_key" required type="text">
                        </div>
                        <div class="form-group">
                            <label for="s3_secret_key">S3 Secret Key: </label>
                            <input class="form-control" name="s3_secret_key" required type="password">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="submit">Create</button>
                        <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>